$def with ()
$var title: Futureme
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Be Healthy!</h1>
  <p>Use Futureme to see how your health decisions right now affect your health in the future!</p>
  <p><a class="btn primary large">Try it out! &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span8">
    <h2>Enter your info</h2>
    <p>Enter your information, and you can see how your decisions now will change your life in the future!</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span8">
    <h2>Make better choices</h2>
     <p>Learn how to make better choices about what to eat, how to exercise, and more!</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
</div>

